html,
body {
  padding: 0;
  margin: 20px 0;
  background-color: #84a9ac!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12px;
}

.ant-select {
  width: 300px;
}

.ant-select-selector {
  background: #e4e3e3!important;
}
